# Imports

In [17]:
import pandas as pd
import yaml
import json

# Set-up

In [31]:
# Read in data
with open('../config/path.yaml', 'r') as f:
    config = yaml.safe_load(f)

# Get Data

In [32]:
# Read in data
continents = pd.read_json(config['path']['continent'])

In [33]:
# Read in data
bands = pd.read_csv(config['path']['folk-metal'])

# Visualizing Data

In [34]:
continents.head()

        country continent
0       Algeria    Africa
1        Angola    Africa
2         Benin    Africa
3      Botswana    Africa
4  Burkina Faso    Africa

In [35]:
bands.head()

   Unnamed: 0        Band        Country  Formed Notes
0           0    Agalloch  United States    1995   [6]
1           1    Alestorm       Scotland    2004   [7]
2           2  Al-Namrood   Saudi Arabia    2008   [8]
3           3    Amorphis        Finland    1990   [9]
4           4     Angizia        Austria    1994  [10]

# Creating Dataset

In [36]:
# Merge data
df = pd.merge(left =  bands,
              right = continents,
              how = 'inner',
              right_on = 'country',
              left_on = 'Country')

In [37]:
# Drop columns
df.drop(columns = config['cols']['drop'], axis = 1, inplace = True)

In [38]:
# Rename columns
df.rename(columns = config['cols']['rename'], inplace = True)

In [39]:
# Save data
df.to_csv(config['df']['save'], index = False)